.App {
  text-align: center;
  background-color: hsl(46, 54%, 82%);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #32502E;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-section h1 {
  padding-top: 2rem;
}