.results-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    overflow: hidden;
}

.results-number {
    font-size: 1rem;
    height: 4rem;
    width: 100vw;
}

@media (max-width: 1100px) {
    .results-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .results-section {
        grid-template-columns: 1fr;
    }
}