.card {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.image-container {
    height: 70%;
}

.info-container {
    height: 25%;
    margin-top: 5%
}

.card img {
    display: block;
    margin: auto;
    height: 300px;
    width: 200px;
}

.card h2 {
    font-size: 0.8em;
}

.card p {
    font-size: 0.8em;
}


.card:hover {
    border: 3px solid #32502E;
}